

En este trabajo vamos a analizar los índices *MIP*, de calidad de vida, *Gini* y el *PIB* con el objetivo de hallar características o cualidades que nos ayuden a entender mejor de manera macroeconómica qué caulidades podrían estar relacionadas. Debido al mes en el que se está haciendo este proyecto, las bases de datos del año en curso, 2022, no han sido propiamente actualizadas o las fuentes no son confiables; es por este motivo que para el análisis nos restringiremos a los datos del año 2021.

In [3]:
import pandas as pd
import numpy as np
import math
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sbn
import plotly.graph_objects as go
import plotly
import re
print('Modulos importados')

Modulos importados

In [34]:
# Reduzcamos el número de línea a leer
pd.options.display.max_rows = 5

Con el propósito de ofrecer un mayor entendimiento se dará una descripción de las variables utilizadas, así como una explicación del porqué nos interesan en el análisis.

## GDP Ranked by Country 2022

## Total World GDP: $91.98 Tn

World GDP

The world GDP is the added total of the gross national income for every country in the world. Gross national income takes a country’s GDP, adds the value of income from imports, and subtracts the value of money from exports. The value of gross national income, GNI, differs from that of GDP because it reflects the impact of domestic and international trade.

When the GNIs of every country in the world are added together, the value of imports and exports are in balance. The world economy consists of 193 economies, with the United States being the largest.

As per World Bank estimates, the nominal world GDP in 2017 was $80,683.79 billion. In 2018, the nominal world GDP was $84,835.46 billion in 2018, and it’s projected to be $88,081.13 billion in 2019. In 2018, the growth rate for the world GDP was 3.6%.
Nominal GDP vs. PPP GDP

To compare GDPs around the world, currencies must be converted so that they’re consistent across all countries. There are two main systems of common currency conversion: nominal and PPP. These two approaches to GDP estimation have separate strengths and are generally used for different reasons.

Nominal GDP is useful for large-scope GDP comparison, either for a country or region or on an international scale. The nominal GDP of an area is determined using up-to-date market prices and shifts according to inflation. By incorporating an area’s inflation rate in the GDP calculation, nominal GDP can indicate when prices rise in an economy. The rate of price increases in an economy is also factored into nominal GDP.

The main downfall of nominal GDP is that it doesn’t account for the living standards in a country - it focuses only on economic growth and performance. Also, generally speaking, nominal GDP can differ significantly from year to year depending on variations in the exchange rate.

PPP stands for purchasing power parity. PPP GDP is used to measure both the economic growth and living standards in a country, making it a useful tool in global comparisons. The PPP approach uses exchange rates to convert one country’s currency into the other. Then, using a consistent amount of money, the quantity of goods and services that may be purchased in the countries is compared. For example, PPP may compare the cost of a car in France to the cost of a car in Japan (after using the exchange rate to convert yen to Euros, or vice versa) to analyze the difference in GDP and cost of living between these nations. PPP GDP stays relatively stable from year to year and isn’t significantly impacted by shifts in the exchange rate.

PPP GDP can be faulted for the fact that it doesn’t incorporate discrepancies in quality between goods and services in different countries. In general, it’s less exact than nominal GDP and often hinges on estimates rather than calculations. As such, the nominal GDP is typically used to measure and compare the size of national economies.
Nominal GDP Rankings by Country

What are the largest economies in the world? According to the International Monetary Fund, these are the highest ranking countries in the world in nominal GDP:

    United States (GDP: 20.49 trillion)
    China (GDP: 13.4 trillion)
    Japan: (GDP: 4.97 trillion)
    Germany: (GDP: 4.00 trillion)
    United Kingdom: (GDP: 2.83 trillion)
    France: (GDP: 2.78 trillion)
    India: (GDP: 2.72 trillion)
    Italy: (GDP: 2.07 trillion)
    Brazil: (GDP: 1.87 trillion)
    Canada: (GDP: 1.71 trillion)

The Largest Economies in the World

The three largest economies in the world as measured by nominal GDP are the United States, China, and Japan. Economic growth and prosperity are impacted by a wide array of factors, namely investment in workforce education, production output (as determined by investment in physical capital), natural resources, and entrepreneurship. The economies of the U.S., China, and Japan all have a unique combination of these factors that have led to economic growth over time, as outlined below.
United States

The United States has been the world’s largest economy since 1871. The nominal GDP for the United States is $21.44 trillion. The U.S. GDP (PPP) is also $21.44 trillion. Additionally, the United States is ranked second in the world for the approximate value of natural resources. In 2016, the U.S. had an estimated natural resource value of $45 trillion.

Several factors contribute to the U.S.’s powerful economy. The U.S. is known globally for cultivating a society that supports and encourages entrepreneurship, which encourages innovation and, in turn, leads to economic growth. The growing population in the U.S. has helped diversify the workforce. The U.S. is also one of the leading manufacturing industries in the world, coming only second to China. The U.S. dollar is also the most widely used currency for global transactions.
China


IMF data from the April 2018 IMF World Economic Outlook database.

UN data from the July 2018 World Development Indicators.

GDP is in trillions of US dollars

## Median Income by Country 2022

Median income is a metric used to identify the midpoint of a given nation’s income distribution. Half of a country’s residents earn an income that is higher than the median, while the other half earn an income that falls below the median. Because median is slightly different from an average, or mean, it is also slightly more insulated against extreme "outlier" values that could throw off the accuracy of a statistic. For example, consider the following sample group of people and their incomes:

Mike - $30,000 Ahmed - $40,000 Stephanie - $50,000 Midori - $40,000 Contessa - $25,000 Gary - $55,000 Jordan - $1,000,000

Thanks to Jordan's unusually high salary, the average, or mean, of all these incomes is $177,142, which is wildly inaccurate for all seven people listed. However, the median (also called "typical") income is $40,000, which is fairly accurate for everyone but Jordan.

World Bank tracks a number of income- and poverty-related metrics, including GDP per capita, GNI per capita, GINI coefficient per country, and median income. As of March 2021, the 10 countries with the highest median incomes ranked are below. Note that these amounts are in current "international dollars", which is a theoretical dollar often used in country-to-country comparisons. International dollars are not equivalent to U.S. dollars, or euros, or any other real-world currency.
10 Countries with the Highest Median Income, March 2021 (PPP, Current Int$):

    Luxembourg - 26,321
    United Arab Emirates - 24,292
    Norway - 22,684
    Switzerland - 21,490
    United States - 19,306
    Canada - 18,652
    Austria - 18,405
    Sweden - 17,625
    Denmark - 17,432
    Netherlands - 17,154

10 Countries with the Lowest Median Income, March 2021 (PPP, Current Int$):

    Congo, Democratic Republic of - 395
    Madagascar - 398
    Burundi - 475
    Malawi - 484
    Guinea-Bissau - 486
    Central African Republic - 491
    Mozambique - 529
    Zambia - 545
    Uzbekistan - 591
    Rwanda - 621

According to 2013 data from Gallup, the median household income worldwide was $9,733 (PPP, Current Int$). Countries with the lowest median income included Libera, Burundi, Mali, Benin, Togo, Sierra Leone, and Madagascar. This data was based on self-reported data that was gathered between 2006 and 2012. For the full list of countries and their median incomes in (PPP, Current Int$), see the table below.

## Gini Coefficient by Country 2022

The Gini coefficient, also called the Gini index or Gini ratio, is the most commonly used measure of income distribution—simply put, the higher the Gini coefficient, the greater the gap between the incomes of a country's richest and poorest people. A country's Gini coefficient is important because it helps identify high levels of income inequality, which can have several undesirable political and economic impacts. These include slower GDP growth, reduced income mobility, greater household debt, political polarization, and higher poverty rates.
Explaining the Gini coefficient

Developed by Italian statistician Corrado Gini in 1912, the Gini coefficient ranges from 0 to 1, but is often written as a percentage. To offer two hypothetical examples, if a nation were to have absolute income equality, with every person earning the same amount, its Gini score would be 0 (0%). On the other hand, if one person earned all the income in a nation and the rest earned zero, the Gini coefficient would be 1 (100%). Mathematically, the Gini coefficient is defined based on the Lorenz curve. The Lorenz curve plots the percentiles of the population on the graph's horizontal axis according to income or wealth, whichever is being measured. The cumulative income or wealth of the population is plotted on the vertical axis.
Limitations of the Gini coefficient

While the Gini coefficient is a useful tool for analyzing the wealth or income distribution in a country, it does not indicate that country's overall wealth or income. Some of the world's poorest countries, such as the Central African Republic, have some of the highest Gini coefficients (61.3 in this case). A high-income country and a low-income country can have the same Gini coefficients. Additionally, due to limitations such as reliable GDP and income data, the Gini index may overstate income inequality and be inaccurate.
Countries with the highest and lowest Gini coefficients

South Africa ranks as the country with the lowest level of income equality in the world, thanks to a Gini coefficient of 63.0 when last measured in 2014. That said, in 2005, the Gini coefficient was even higher, at 65.0. In South Africa, the richest 10% hold 71% of the wealth, while the poorest 60% hold just 7% of the wealth. Additionally, more than half of South Africa's population lives in poverty.
Top 10 Countries with the Highest Gini Coefficients (%) - World Bank:

    South Africa - 2014 - 63.0
    Namibia - 2015 - 59.1
    Suriname - 1999 - 57.9
    Zambia - 2015 - 57.1
    Sao Tome and Principe - 2017 - 56.3
    Central African Republic - 2008 - 56.2
    Eswatini - 2016 - 54.6
    Mozambique - 2014 - 54.0
    Brazil - 2019 - 53.4
    Belize - 1999 - 53.3

Now for the good news:
Top 10 Countries with the Lowest Gini Coefficients (%) - World Bank:

    Slovenia - 2018 - 24.6
    Czech Republic - 2018 - 25.0 (tie)
    Slovakia - 2018 - 25.0 (tie)
    Belarus - 2019 - 25.3
    Moldova - 2018 - 25.7
    United Arab Emirates - 2018 - 26.0
    Iceland - 2017 - 26.1
    Azerbaijan - 2005 - 26.6 (tie)
    Ukraine - 2019 - 26.6 (tie)
    Belgium - 2018 - 27.2

Nordic and Central Eastern European countries dominate this list, claiming seven of the top 10 slots. Inequality is generally lower in Europe than elsewhere in the world, and the Gini coefficient offers quantifiable proof of that fact. The United States has a Gini coefficient of 41.1. In 2015, the top 1% of earners in the United States averaged 40 times more income than the bottom 90%. In the U.S., poverty is a growing issue, where an estimated 12.3-17.8 percent below the poverty level (see Poverty Rate by Country). Many of these low-wage workers live paycheck-to-paycheck and have no sick days, pension, or health insurance.

The Gini coefficient saw sustained growth during the 19th and 20th centuries. In 1820, the global Gini coefficient was 0.50, and in 1980 and 1992, the figure was 0.657. According to World Bank's Poverty and Shared Prosperity 2020 report, the Gini coefficient increases about 1.5 points in the five years following major epidemics, such as H1N1 (2009), Ebola (2014), and Zika (2016). While the effects of the COVID-19 pandemic are still being calculated, early estimates predicted an increase in Gini coefficient of 1.2-1.9 percentage points per year for 2020 and 2021, signaling an increase in income inequality.

## 
Market Potential Index (MPI) - 2021
June 1, 2021
About the Index

Global marketing has become more and more important over the years with the increasing trend of internationalization. Faced with too many choices, marketers have the challenge of determining which international markets to enter and the appropriate marketing strategies for those countries.

The purpose of this study is to rank, with a U.S. focus, the market potential of the largest economies and to provide guidance to the U.S. companies that plan to expand their markets internationally. While the U.S. is not included in the rankings, the insights provided by the index are still applicable to companies located in other international markets.

This indexing study is conducted by the Michigan State University — International Business Center to help companies compare prospect markets on several dimensions. Eight dimensions are chosen to represent the market potential of a country on a scale of 1 to 100. The dimensions are measured using various indicators and are weighted in determining their contribution to the overall Market Potential Index(MPI).

Between years 1996 and 2014, the MPI has been calculated for 26 countries identified as "Emerging Markets" by The Economist magazine. However, in order to cover a wider range of markets, a decision has been made in 2014 to increase the number of countries according to the criteria explained below.

Please see the bottom of the page, or click the following links for the changes implemented in the past years.

    Changes for 2019
    Changes for 2017
    Changes for 2015
    Changes for 2014
Market Potential Index (MPI) - 2021
June 1, 2021
About the Index

Global marketing has become more and more important over the years with the increasing trend of internationalization. Faced with too many choices, marketers have the challenge of determining which international markets to enter and the appropriate marketing strategies for those countries.

The purpose of this study is to rank, with a U.S. focus, the market potential of the largest economies and to provide guidance to the U.S. companies that plan to expand their markets internationally. While the U.S. is not included in the rankings, the insights provided by the index are still applicable to companies located in other international markets.

This indexing study is conducted by the Michigan State University — International Business Center to help companies compare prospect markets on several dimensions. Eight dimensions are chosen to represent the market potential of a country on a scale of 1 to 100. The dimensions are measured using various indicators and are weighted in determining their contribution to the overall Market Potential Index(MPI).

Between years 1996 and 2014, the MPI has been calculated for 26 countries identified as "Emerging Markets" by The Economist magazine. However, in order to cover a wider range of markets, a decision has been made in 2014 to increase the number of countries according to the criteria explained below.

Please see the bottom of the page, or click the following links for the changes implemented in the past years.

    Changes for 2019
    Changes for 2017
    Changes for 2015
    Changes for 2014

In [22]:
# Data paths
gdp_path = 'Data/GDP_2021.csv'
gini_path = 'Data/Gini_2022.csv'
income_path = 'Data/Income_2021.csv'
mpi_path = 'Data/MPI_2021.csv'
mpic_path = 'Data/MPI_comparison.csv'
life_path = 'Data/Quality_life_2021.csv'

In [45]:
gdp = pd.read_csv(gdp_path)
gini = pd.read_csv(gini_path)
income = pd.read_csv(income_path)
mpi = pd.read_csv(mpi_path)
mpic = pd.read_csv(mpic_path)
life = pd.read_csv(life_path)

In [46]:
gdp

,Rank,Name,GDP (IMF '19),GDP (UN '16),GDP Per Capita,Population 2021
0,1,United States,22.20 Tn,18.62 Tn,"$66,678","332,915,073"
1,2,China,15.47 Tn,11.22 Tn,"$10,710","1,444,216,107"
...,...,...,...,...,...,...
209,210,Syria,NaN,22.16 Bn,"$1,213","18,275,702"
210,211,Turks And Caicos Islands,NaN,917.55 Mn,"$23,388","39,231"

Para evitar problemas con los métodos, algoritmos y funciones se cambiarán los nombres de los dataframes por aquellos que no tengan espacios en blanco, ni caracteres especiales y más intuitivos.

In [62]:
gdp_names = ['Rank_gdp','Country', 'GDP_imf_19', 'GDP_un_16', 'GDP_pc', 'Population']
gdp.columns = gdp_names
gdp

,Rank_gdp,Country,GDP_imf_19,GDP_un_16,GDP_pc,Population
0,1,United States,22.20 Tn,18.62 Tn,"$66,678","332,915,073"
1,2,China,15.47 Tn,11.22 Tn,"$10,710","1,444,216,107"
...,...,...,...,...,...,...
209,210,Syria,NaN,22.16 Bn,"$1,213","18,275,702"
210,211,Turks And Caicos Islands,NaN,917.55 Mn,"$23,388","39,231"

In [50]:
gini

          country  giniWB  yearWB  giniCIA  yearCIA    pop2022
0    South Africa    63.0  2014.0     63.0   2014.0  60756.135
1         Namibia    59.1  2015.0     59.1   2015.0   2633.874
..            ...     ...     ...      ...      ...        ...
174  Saudi Arabia     NaN     NaN     45.9   2013.0  35844.909
175   Afghanistan     NaN     NaN     29.4   2008.0  40754.388

[176 rows x 6 columns]

Debido a que solo nos interesa la población del 2021 para este análisis, borraremos la columna que contiene la población de cada país del año 2022.

In [53]:
gini.drop('pop2022', axis='columns', inplace=True)
gini

          country  giniWB  yearWB  giniCIA  yearCIA
0    South Africa    63.0  2014.0     63.0   2014.0
1         Namibia    59.1  2015.0     59.1   2015.0
..            ...     ...     ...      ...      ...
174  Saudi Arabia     NaN     NaN     45.9   2013.0
175   Afghanistan     NaN     NaN     29.4   2008.0

[176 rows x 5 columns]

In [55]:
gini_names = ['Country', 'Gini_wb', 'Gini_wb_year', 'Gini_cia', 'Gini_cia_year']
gini.columns = gini_names
gini

          Country  Gini_wb  Gini_wb_year  Gini_cia  Gini_cia_year
0    South Africa     63.0        2014.0      63.0         2014.0
1         Namibia     59.1        2015.0      59.1         2015.0
..            ...      ...           ...       ...            ...
174  Saudi Arabia      NaN           NaN      45.9         2013.0
175   Afghanistan      NaN           NaN      29.4         2008.0

[176 rows x 5 columns]

In [56]:
income

,country,medianHouseholdIncome,medianPerCapitaIncome,medianAnnualIncome,pop2021
0,Luxembourg,52493.0,18418.0,73910.0,634.814
1,Norway,51489.0,19308.0,82500.0,5465.630
...,...,...,...,...,...
137,United Arab Emirates,NaN,NaN,43470.0,9991.089
138,Ethiopia,NaN,NaN,850.0,117876.227

In [60]:
income_names = ['Country', 'Median_household_income', 'Median_per_capita', 'Median_annual_income', 'Population_2021']
income.columns = income_names
income

,Country,Median_household_income,Median_per_capita,Median_annual_income,Population_2021
0,Luxembourg,52493.0,18418.0,73910.0,634.814
1,Norway,51489.0,19308.0,82500.0,5465.630
...,...,...,...,...,...
137,United Arab Emirates,NaN,NaN,43470.0,9991.089
138,Ethiopia,NaN,NaN,850.0,117876.227

In [59]:
mpi

,Rank,Country,MarketSize,MarketGrowthRate,MarketIntensity,MarketConsumptionCapacity,CommercialInfrastructure,MarketReceptivity,EconomicFreedom,CountryRisk,OverallScore
0,1,China,100,52,1.0,100,71,3,39,70,100
1,2,India,37,61,28.0,44,54,3,57,55,53
...,...,...,...,...,...,...,...,...,...,...,...
95,96,Cuba,2,19,36.0,11,22,1,5,1,3
96,97,Venezuela,3,10,NaN,18,21,7,1,1,1

In [29]:
life

,Rank,Country,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
0,1,Switzerland,190.82,110.96,78.65,74.47,131.75,8.42,28.73,20.09,80.05
1,2,Denmark,190.01,94.73,73.28,79.96,91.67,6.66,28.69,20.40,81.80
2,3,Netherlands,183.31,83.89,72.78,75.76,78.64,7.35,27.81,25.28,87.11
3,4,Finland,182.79,89.05,72.99,76.40,77.46,8.64,28.96,11.86,56.64
4,5,Austria,182.37,78.23,74.77,78.40,75.49,10.40,25.68,19.20,77.79
...,...,...,...,...,...,...,...,...,...,...,...
78,79,Philippines,78.39,19.71,57.84,67.09,40.65,30.14,44.04,74.06,61.03
79,80,Kenya,75.77,27.67,38.60,55.83,36.30,27.27,57.39,75.88,99.79
80,81,Bangladesh,65.27,24.07,35.78,42.70,33.31,14.43,58.53,84.91,72.91
81,82,Iran,64.73,19.00,50.81,52.25,41.34,34.24,47.43,76.13,70.99
82,83,Nigeria,52.00,9.78,36.14,48.89,29.74,17.74,61.68,87.35,60.75

### Bibliografía:

- *Clustering Analysis*: https://towardsdatascience.com/clustering-algorithms-for-economic-policy-guidance-45f469704815
- *Quality of Life Index by Country 2022*: https://www.numbeo.com/quality-of-life/rankings_by_country.jsp
- *Quality of Life Index by Country 2021*: https://www.numbeo.com/quality-of-life/rankings_by_country.jsp?title=2021
- *Quality of Life Index by Country 2020*: https://www.numbeo.com/quality-of-life/rankings_by_country.jsp?title=2020
- *Quality of Life Index by Country 2019*: https://www.numbeo.com/quality-of-life/rankings_by_country.jsp?title=2019
- *Quality of Life Index by Country 2018*: https://www.numbeo.com/quality-of-life/rankings_by_country.jsp?title=2018
- *Quality of Life Index by Country 2017*: https://www.numbeo.com/quality-of-life/rankings_by_country.jsp?title=2017
- *Gini Coefficient by Country up to 2019*: https://worldpopulationreview.com/country-rankings/gini-coefficient-by-country
- *Índice de Gini 2020*: https://datosmacro.expansion.com/demografia/indice-gini
- *GDP 2022*: https://worldpopulationreview.com/country-rankings/median-income-by-counthttps://worldpopulationreview.com/country-rankings/median-income-by-countryry
- *GDP Ranked by Country 2022*: https://worldpopulationreview.com/countries/countries-by-gdp
- *Measuring Global Inequality: Median Income, GDP per Capita, and the Gini Index*: https://www.givingwhatwecan.org/post/2021/03/measuring-global-inequality-median-income-gdp-per-capita-and-the-gini-index/
- *Median Income and GPD by Country 2022*: https://worldpopulationreview.com/country-rankings/median-income-by-country
- *GDP by country 2021-2020*: https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)
- *Standard of Living by Country | Quality of Life by Country 2022*: https://worldpopulationreview.com/country-rankings/standard-of-living-by-country
- *Market Potential Index (MPI) - 2020*: https://globaledge.msu.edu/mpi/2020
- *Market Potential Index (MPI) - 2021*: https://globaledge.msu.edu/mpi/data/2021
- *Year To Year Comparison*: - https://globaledge.msu.edu/mpi/yeartoyear


- *GDP in England*: https://ourworldindata.org/grapher/total-gdp-in-the-uk-since-1270?time=earliest..2016